---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import { Basics } from '@/web/components/basics';
import Education from '@/web/components/education.astro';
import Interest from '@/web/components/interest.astro';
import Job from '@/web/components/job.astro';
import Layout from '@/web/components/layout.astro';
import { Metadata } from '@/web/components/metadata';
import Project from '@/web/components/project.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Sidebar, SidebarItem } from '@/web/components/sidebar';
import { Skill } from '@/web/components/skills';
import { initializeWebContext } from '@/web/utils/initialize-web-context';

await initializeWebContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  theme: 'custom',
  pdf: {
    path: '/generated/pdf/index.pdf',
    label: 'Download resume',
    filename: 'jakub-cieplinski-resume.pdf',
  },
});
---

<Layout class="gap-16 [&_section]:scroll-mt-8">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
    <Metadata entry={getEntry('metadata', 'main')} />
  </Fragment>
  <Sidebar>
    <SidebarItem sectionId="basics" icon="fa6-solid:user">About me</SidebarItem>
    <SidebarItem sectionId="skills" icon="fa6-solid:bars-progress">Skills</SidebarItem>
    <SidebarItem sectionId="jobs" icon="fa6-solid:suitcase">Work experience</SidebarItem>
    <SidebarItem sectionId="projects" icon="fa6-solid:rocket">Projects</SidebarItem>
    <SidebarItem sectionId="education" icon="fa6-solid:graduation-cap">Education</SidebarItem>
  </Sidebar>
  <Basics entry={getEntry('basics', 'main')} id="basics" />
  <Section class="gap-8" id="skills">
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection class="gap-2">
        <SubsectionTitle>Technologies</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill withLevel entry={getEntry('skills', 'cpp')} />
          <Skill withLevel entry={getEntry('skills', 'stl')} />
          <Skill withLevel entry={getEntry('skills', 'python')} />
          <Skill withLevel entry={getEntry('skills', 'linux')} />
          <Skill withLevel entry={getEntry('skills', 'jira')} />
          <Skill withLevel entry={getEntry('skills', 'project_management')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Tools</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'clion')} />
          <Skill entry={getEntry('skills', 'vscode')} />
          <Skill entry={getEntry('skills', 'gtest')} />
          <Skill entry={getEntry('skills', 'cmake')} />
          <Skill entry={getEntry('skills', 'git')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Languages</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'polish')} />
          <Skill entry={getEntry('skills', 'english')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8" id="jobs">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getEntry('jobs', 'nokia')} />
      <Separator />
      <Job entry={getEntry('jobs', 'huuugegames')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="projects">
    <SectionTitle>Projects</SectionTitle>
    <VerticalList class="gap-10">
      <Project entry={getEntry('projects', 'taskplanner')} />
      <Separator />
      <Project entry={getEntry('projects', 'spielda')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="education">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getEntry('education', 'bachelor')} />
    </VerticalList>
  </Section>
  <Section class="gap-8">
    <SectionTitle>Interests</SectionTitle>
    <HorizontalList class="gap-x-4 gap-y-3">
      <Interest entry={getEntry('interests', 'cooking')} />
      <Interest entry={getEntry('interests', 'homelabbing')} />
      <Interest entry={getEntry('interests', 'gaming')} />
      <Interest entry={getEntry('interests', 'gamedev')} />
    </HorizontalList>
  </Section>
</Layout>
